body {
  background-color: rgb(0, 217, 255);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.search {
  height: 90%;
  background-color: rgba(193, 215, 221, 0.85);
  border: cornsilk 2px solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}
.search h1 {
  margin-top: 10%;
  color: rgb(66, 66, 219);
  font-size: 90px;
}
.search h2 {
  margin-top: 5%;
  color: rgb(43, 43, 161);
  font-size: 32px;
}
.search h4 {
  margin-top: 5%;
  color: rgb(13, 13, 61);
  font-size: 30px;
}
.search input {
  margin: 4% 15px;
  width: 50%;
  height: 50px;
  border: cornsilk 2px solid;
  border-radius: 10px;
  background-color: #9292d9;
  color: rgb(13, 13, 61);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.search button {
  margin-bottom: 5%;
  width: 150px;
  height: 50px;
  border: cornsilk 2px solid;
  border-radius: 10px;
  background-color: rgb(73, 210, 73);
  color: blueviolet;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.weather {
  display: none;
  height: 90%;
  position: relative;
  background-color: rgba(106, 103, 103, 0.7);
  border: cornsilk 2px solid;
  border-radius: 10px;
  text-align: center;
}
.weather #time {
  font-size: 55px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #163644;
}
.weather #city {
  font-size: 85px;
  margin-top: 10px;
  color: #250979;
  margin-bottom: 0px;
}
.weather #generalPnj {
  position: relative;
  top: -35px;
  margin-bottom: 0;
  padding: 0;
  width: 300px;
}
.weather #weatherStan {
  position: relative;
  margin: 0;
  top: -100px;
  text-align: center;
  font-size: 40px;
  color: #130639;
  text-transform: uppercase;
  font-style: initial;
}
.weather #temp {
  margin: 40px 0 10px;
  text-align: center;
  font-size: 115px;
  color: #062330;
  text-transform: uppercase;
}
.weather #temFelt {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  color: #011823;
  text-transform: uppercase;
}
.weather #tempMax, .weather #tempMin, .weather #humidity, .weather #pressure, .weather #seaLevel, .weather #visibility {
  position: relative;
  top: -45px;
  margin: 20px;
  text-align: center;
  font-size: 25px;
  color: rgb(21, 10, 73);
  text-transform: uppercase;
}
.weather #btnBack {
  width: 50px;
  position: absolute;
  left: 0;
}
.weather .positionTop {
  position: relative;
  top: -60px;
}
.weather .positionTop #titleForTable {
  margin: 0;
  font-size: 24px;
}
.weather .positionTop hr {
  color: cornsilk;
}
.weather .positionTop table, .weather .positionTop tr, .weather .positionTop th, .weather .positionTop td {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(112, 107, 107);
}
.weather .positionTop table th, .weather .positionTop tr th, .weather .positionTop th th, .weather .positionTop td th {
  color: rgb(13, 13, 61);
}
.weather .positionTop table tr:hover > td, .weather .positionTop tr tr:hover > td, .weather .positionTop th tr:hover > td, .weather .positionTop td tr:hover > td {
  background-color: rgba(207, 225, 228, 0.3);
}/*# sourceMappingURL=style.css.map */